<div class="container">
  <div class="header">
    <input placeholder="Search By tag" (keyup)="search($event.target.value)" class="form-control" >
    <button class="btn btn-default pull-right" (click)="openAddModal()">Add</button>
  </div>
  <ul class="list-unstyled">
    <li class="list-item pointer" (click)="openViewModal(dreamOrNightmare)" *ngFor="let dreamOrNightmare of searchedDreamsAndNightmares">
      <h3>{{dreamOrNightmare?.name}}</h3>
      <h5>{{dreamOrNightmare?.tag}}</h5>
    </li>
  </ul>
</div>
